# https://docs.aws.amazon.com/ja_jp/AWSEC2/latest/UserGuide/AccessingInstancesLinux.html

source ./env.sh

echo ${1}

if [ ! -f ${1} ]
then
	echo "指定されたファイル${1}は存在しません"
	exit 0
fi

scp  -i ${SSH_KEY} ${1} ${USER_NAME}@${AWS_HOST}:~/


